* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  letter-spacing: 2px;
}
.rongila {
  color: red;
}
#wrong-message {
  display: none;
}
#spinner {
  display: none;
  text-align: center;
}
