* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.title {
  letter-spacing: 2px;
}
.rongila {
  color: red;
}
#wrong-message {
  display: none;
}
#spinner {
  display: none;
  text-align: center;
}
.up-button {
  border: none;
  font-size: 30px;
  text-decoration: none;
  position: fixed;
  float: right;
  right: 7%;
  bottom: 50px;
  opacity: 50%;
}
